---
layout: default
title: About | Emilia Psacharopoulos
---

<div class="page">

  <section class="about-page-self">
    <div class="self-tagline">Personal</div>
    <h1>About <em>Me</em></h1>
    <p class="about-lead">
      Hi, I'm Emilia. Here are a few things about me outside of work.
    </p>
  </section>

  <section class="about-page-content">

    {% for item in site.data.about %}
    <div class="about-row">
      <div class="about-row-text">
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
      </div>
      {% if item.video_src %}
      {% assign vid_id = item.video_src | split: '/embed/' | last %}
      <div class="about-row-video">
        <div class="yt-facade"
          data-src="{{ item.video_src }}"
          style="background-image: url('https://img.youtube.com/vi/{{ vid_id }}/hqdefault.jpg')"
          role="button"
          aria-label="Play {{ item.video_title }}"
          tabindex="0">
          <button class="yt-play-btn" aria-hidden="true" tabindex="-1">&#9654;</button>
        </div>
      </div>
      {% else %}
      <img src="{{ item.image }}" alt="{{ item.image_alt }}" class="about-row-img">
      {% endif %}
    </div>
    {% endfor %}

  </section>

</div>
